<footer class="container">
  <p>
    This project is a fan-made homebrew creation developed independently and is
    not affiliated with, endorsed by, or associated with Nintendo Co., Ltd or
    any of its subsidiaries, affiliates, or partners. All trademarks and
    copyrights referenced are the property of their respective owners.
  </p>
  <p>
    This website is under the <a href="https://www.mozilla.org/en-US/MPL/2.0/"
      >Mozilla Public License Version 2.0</a
    > otherwise noted.
  </p>
</footer>
