---
import Base from "@layouts/Base.astro";
import MasterKeyGeneratorForm from "@components/MasterKeyGeneratorForm.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
---

<Base title="ZELZIP IceBrk Web">
  <Header />

  <main class="container">
    <hgroup>
      <h1>IceBrk Web</h1>
      <p>Nintendo Devices Parental Control Master Key Generator</p>
    </hgroup>

    <MasterKeyGeneratorForm id="master-key-generator-form" />

    <article>
      <header>Your master key is:</header>
      <h2 id="master-key-text">N/A</h2>
    </article>
  </main>

  <Footer />
</Base>

<style lang="scss">
  @use "@picocss/pico/scss/colors";

  #master-key-text.failed {
    color: colors.$red-500;
  }
</style>

<script>
  const masterKeyGeneratorForm = document.getElementById(
    "master-key-generator-form",
  );
  const masterKeyText = document.getElementById("master-key-text");

  masterKeyGeneratorForm.addEventListener("masterKeyChanged", (e) => {
    masterKeyText.textContent = e.detail.masterKey;
    if (e.detail.failed) {
      masterKeyText.classList.add("failed");
    } else {
      masterKeyText.classList.remove("failed");
    }
  });
</script>
